<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My biography</title>
</head>
<body>
<h1>My biography</h1>
<h2>Education</h2>
<p>Was born in Russia, Nizhniy Novgorod <br>
Got 9 classes in Gimnasium School, after gone to College named as NRTK(НРТК) where I studied 4 courses.<br>
Then studied in MTUCI(МТУСИ), gathered Bachelor's and Magister degrees.<br>
Bachelor's degree was assosiated with Information Security, Magister's - Big Data.
</p>
<h2>Overall</h2>
<p>Soft speaker with hard character at once. Have high logical, critical and object mindset. Training deduction.<br>
Now living in Moscow. Wanna to work in web-developing as Dev.</p> <a href="../skills/">If you want, you can observe my skills.</a><br>

</body>
</html>