<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My skills</title>
</head>
<body>
<h1>C family</h1>
<p>*Java may be applied here aswell</p>
<br>
<div>My projects: <a href="https://github.com/Krouler/AVmonitor">Anti-virus monitor</a> and <a href="https://github.com/Krouler/NL_run_speed">speed-meter</a>. Both developed on C# language, speed-meter C# with fuzzi-logic</div>
<br>
<p>When was 14 old, mine interests was to research java apps on my phone. I had only text redactor which included file directory observer.</p>
<p>After, when I was 20, met VBA on MS Excel. Then again java, but as developer. There I learned syntax and programming logic</p>
<br>
<p>With some tasks in MTUCI met C#. It seems familiar to me, so i mained it for some time.</p>
<br>
<h1>Python</h1>
<div>As <a href="../biography/">biography says</a>, met this language when studied for Magister's degree. </div>
<div>I have a <a href="https://www.kaggle.com/kroulers">Kaggle profile</a> with much private notebooks where I researched much datasets, just for fun.</div>
<div>Used following frameworks: np+pd, tf.Keras, scykit-learn, nltk</div>
<div>Also learned Django framework. This wrote with Django!</div>
</body>
</html>